<main class="container">
  <!-- 3. Renderizar un título para el dashboard. -->
  <h1>{{ title }}</h1>
  <!-- 4. Renderizar un componente de gráfico de barras que muestre las tareas completadas por proyecto. -->
  <app-grafico-de-barras
    [titulo]="'Tareas completadas por proyecto'"
    [datos]="barDatos">
  </app-grafico-de-barras>

  <!-- 5. Renderizar un componente de gráfico de líneas que muestre los bugs reportados por proyecto. -->
   <app-grafico-de-lineas
    [titulo]="'Bugs reportados por proyecto'"
    [datos]="lineDatos">
  </app-grafico-de-lineas>
</main>

<router-outlet></router-outlet>


